

input[type=text], textarea {
    display: border-box;
    width: 100%;
    padding: 0.2em;
    border: 1px solid #42E8A1;
    border-radius: 4px;
    background-color: white;
    color: black;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}
input[type=text].invalid, textarea.invalid {
    border: 1px solid #cc0000;
}

#map { 
    width: calc(96%);
    max-width: 800px;
    height: 20em;
    margin: auto;
    border-radius: 4px;
    margin-top: 4em;
}