body {
    background-color: #55FFE6;
}
span {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
p {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

h1 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 1.7em
}
h2 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 1.2em
}
#presentation {
    text-align: center;
}
#medlemmar h2 {
    cursor: pointer;
    background-color: #55FFE6;
    display: block;
    width: 8em;
    margin: auto;
    margin-top: 0.3em;
    border-radius: 0.2em;
}
.containerDiv {
    width: calc(96% - 2em);
    border-radius: 6px;
    background-color: #42D3E8;

    display: border-box;
    margin: auto;
    margin-top: 2em;
    max-width: 767px;
    padding: 1em;

    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

}
.button {
    background-color: #48FF7D; 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    border: none;
    color: white;
    padding: 0.2em 0.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 0.2em;
}
.skillOuter{
    width: 80%;
    height: 1.1em;
    border-radius: 0.2em;
    display: block;
    background-color: #42E8A1;
    margin: auto;
    overflow: hidden;
}
.skillInner{
    height: 100%;
    width: 0px;
    transition: width 0.7s;
    display: block;
    background-color: #48FF7D;
    text-align: end;
    text-indent: 0.5em;
}
#medlemmar {
    display: none;

}
#medlemmar.shown {
    display: block;

}
header ul {
    display: block;
}
.closed{
    display: none;
}
#hamburger {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 20px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 3px; 
}
header {
    background-color: #42D3E8;
}
header ul li {
    list-style: none;  
    display: block;
    text-align: center;
    
}
header ul li a {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 12px;
    display: block;
}
header li:hover {
    background-color: #48B7FF;
  }
  header ul {
      padding: 0;
  }
@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }
    .closed{
        display: flex;
    }
    header ul {
        
        margin: 0px;
        padding-left: 0px;
        display: flex;
        justify-content:center;
    }
    header li {
      list-style: none;  
      display: inline-block;
      transition: background-color 0.3s;
    }
    header li:hover {
        background-color: #48B7FF;
      }
    header ul li a {
        margin: 18px;
        display: block;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
  }