body {
    background-color: #55FFE6;
}

h1 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 1.7em
}
h2 {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 1.2em
}
.button {
    background-color: #48FF7D; /* Green */
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    border: none;
    color: white;
    padding: 0.2em 0.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 0.2em;
}

.dot {
    height: 1.5em;
    width: 1.7em;
    background-color: #42E8A1;
    border-radius: 4px;
    display: inline-block;
}


.coloredDot {
    background-color: #48FF7D;
}

header ul {
    display: block;
}
.closed{
    display: none;
}
#hamburger {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 20px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 3px; 
}
header {
    background-color: #42D3E8;
}
header ul li {
    list-style: none;  
    display: block;
    text-align: center;
    
}
header ul li a {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 12px;
    display: block;
}
header li:hover {
    background-color: #48B7FF;
  }
  header ul {
      padding: 0;
  }
@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }
    .closed{
        display: flex;
    }
    header ul {
        
        margin: 0px;
        padding-left: 0px;
        display: flex;
        justify-content:center;
    }
    header li {
      list-style: none;  
      display: inline-block;
      transition: background-color 0.3s;
    }
    header li:hover {
        background-color: #48B7FF;
      }
    header ul li a {
        margin: 18px;
        display: block;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
  }